$main-color: black;
$main-color2: white;

/* BASE */ 

body, nav {
	background-color:$main-color2;
}

ul {
	display: inline;
	padding: 10px;
}

li {
	background-color: $main-color;
	color: $main-color2;
	padding: 12px;
	width: 170px;
	font-size: 1.2em;
}
/* LAYOUT */ 

.main-photo { 
	width: 450px; 
	height: auto;
}


/* MODULE */ 


/* STATE */ 


/* THEME */ 

/* HAMBURGER ICON */
.icon-bar {
   background-color:#000 !important;
}
/* END OF HAMBURGER ICON */